:root {
  --brand-color: #212121;
}
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.03em;
}
body {
  font-family: "Roboto";
  font-weight: 400;
}
.link {
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.active {
  color: #2196f3;
}
.logo {
  color: #2196f3;
}
.logo-header {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-weight: bolder;
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-weight: bolder;
}
.bg-our-team {
  background-color: #f5f4fa;
}
a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
a:hover,
a:focus {
  color: #2196f3;
}
.button:hover,
.button:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.button {
  font-weight: 500;
  background-color: #f5f4fa;
  cursor: pointer;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.button-order {
  font-weight: 700;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button-order:hover,
.button-order:focus {
  color: #ffffff;
}

.hero {
  background-color: #2f303a;
}
.title-h3 {
  text-align: left;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
}
.title-h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.text {
  font-size: 14px;
  color: #757575;
  letter-spacing: 0.03em;
}
.names {
  font-weight: 500;
  letter-spacing: 0.03em;
}
.caption {
  color: #757575;
  letter-spacing: 0.03em;
}
footer {
  background-color: #2f303a;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 14px;
}
.adress {
  color: #ffffff99;
  letter-spacing: 0.03em;
}
.unordered-list {
  list-style: none;
}
.card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.menu-items {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
}
.adress-style {
  font-style: normal;
}
